# Default to SQLite file located at "REPO/server/main.db".
DATABASE_URL="sqlite:///./main.db"

# Generate a random value with "openssl rand -hex 32".
SECRET_KEY=CHANGE-ME

FRONTEND_ORIGIN=http://localhost:8080